* {
  margin: 0;
  padding: 0;
}

size-picker {
    box-sizing: border-box;
    background: linear-gradient(180deg,#424242 0,#212121);
    border-top: 1px solid #424242;
    border-bottom: 1px solid #252525;
    height: 240px;
    width: 100%;
}

size-picker .horizontal-range {
    position: absolute;
    width: calc(100% - 30px);
    top: calc(50% - 4px);
    margin: 0 15px;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0,0,0,.7), 0 0 1px hsla(0,0%,5%,.7);
    background: #1a1a1a;
    border-radius: 2px;
}

size-picker .thumb {
    box-sizing: border-box;
    position: absolute;
    display: block;
    top: calc(50% - 15px);
    box-shadow: 2px 2px 2px rgba(0,0,0,.55), 0 0 1px hsla(0,0%,5%,.7);
    border: 3px solid #707070;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: linear-gradient(180deg,#424242 0,#212121);
    cursor: pointer;
    pointer-events: none;
}
