* {
  margin: 0;
  padding: 0;
}

.to-resize {
  width: 50%;
  display: block;
}

size-picker {
    box-sizing: border-box;
    background: #E0E0E0;
    border-bottom: 1px solid #252525;
    height: 240px;
    width: 100%;
    display: block;
    position: relative;
}

size-picker .horizontal-range {
    position: absolute;
    width: calc(100% - 30px);
    top: calc(50% - 4px);
    margin: 0 15px;
    height: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0,0,0,.7), 0 0 1px hsla(0,0%,5%,.7);
    background: #a6f9de;
    border-radius: 2px;
}

size-picker .thumb {
    box-sizing: border-box;
    position: absolute;
    display: block;
    top: calc(50% - 15px);
    box-shadow: 2px 2px 2px rgba(0,0,0,.55), 0 0 1px hsla(0,0%,5%,.7);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid #FF8A65;
    background: #FF5722;
    cursor: pointer;
    pointer-events: none;
}
